html {
  box-sizing: border-box;
}

.fog {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #000;
  z-index: 999;

  &__container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    height: 100vh;
    width: 300vw;
    &--first {
      background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png")
        repeat-x;
      background-size: contain;
      background-position: center;
      animation: marquee 60s linear infinite;
    }

    &--second {
      background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png")
        repeat-x;
      background-size: contain;
      background-position: center;
      animation: marquee 40s linear infinite;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
